html {
	height: 100%;
}

body {
    background-color: #e3e0cf;
	margin: 0;
	height: 100%;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: #3b3a30;
  border-style: solid;
  
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 5px;
  padding-left: 50%;
  padding: 18px 20px;
  text-decoration: none;
  margin-left: 80px;
  margin-top:10px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
  
}
.topnav a.active {
    background-color: rgb(132, 132, 132);
    font-size:  28px;
}
.header {
  background-color:  #c0ded9;
  padding: 20px;
  text-align: center;
  padding: 5px;
  border-style: solid;


}


#main-container {
    display:table;
    width:100%;
    height: 100%;
    background-color:#b2c2bf;
     padding: 10px;
     text-align: center;
}
#sidebar {
	display: table-cell;
	width: 17%;
	vertical-align: top;
    background-color: #333;
    border-style: solid;
    
}
#sidebar a {
    display: block;
    padding: 30px;
    color: #ddd;
    margin:15px 0 0 -40px;
    text-decoration: none;
}

#sidebar a:hover{
    background-color: #ddd;
    color: black;
    font-size: 130%;
}
#content{
    display:table-cell;
    width:85%;
    vertical-align: middle;
    padding:10px 0 0 10px;
}
#outer-container {
	display: table;
	width: 100%;
	height: 100%;
}


#content {
	display: table-cell;
	width: 85%;
	vertical-align: top;
    
}
#rightImage  
{  
  height:275px;  


  position:relative;  
}  
#rightImage:hover img  
{  
  height: 500px;  
}
table, th, td {
  border:1px solid black;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: rgba(91, 91, 91, 0.802);
  color: white;
}


img {
  opacity: 1.0;
}

img:hover {
  opacity: 0.5;
}

.active  a.active {
  background-color: rgb(132, 132, 132);
  font-size:  27px; }

  .rightImageResearch
{  
  height:200px;  
  position:relative;  
}  
.rightImageResearch:hover img  
{  
  height: 425px;  
}

input[type="checkbox"] {
  display: none;
  
}

label {
  color: rgb(0, 0, 0);
  text-decoration: underline overline;
  margin-top: 50px;
  cursor: pointer;
  border: 3px solid;
  padding: 10px;
  box-shadow: 5px 6px rgb(227, 52, 52);
  font-size:125%;
}

label:after {
  content: "MORE";
}

input:checked~label:after {
  content: "LESS";
}

.inner {
  max-height: 100px;
  overflow: hidden;
  transition: all .3s ease;
  text-align: center;
}

input:checked+.inner {
  max-height: 500px;
}
li {
  display: block;
  transition-duration: 2.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: visible;
   opacity: 0;
   position: relative;
   top: 10px; left: 5px;
   transition: all 0.1s ease;
   margin-top: -1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
 }
 
 ul li ul li {
   clear: both;
   width: 100%;
 }
 ul li {
  list-style-type: square;
}

.li{
  list-style: disc outside none;
  list-style-type:disc;
  display: list-item;
  margin-left: 1em;
  }